html{
    font-size: 14px;
}
:root {
    --main-color: #dc4c3f;
    --primary-color: #fff;
    --text-color: #252525;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* .d-none{display: none;} */
.material-icons {
    font-size: 22px;
}
/* --- Start: Additional CSS --- */
.add-task-btn {
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 6px #00000061;
}
.bg-layer {
    background: rgb(0 0 0 / 60%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.bg-layer.active {
    display: block;
}
/* --- End: Additional CSS --- */

/* ---- Start: Header ------ */
header {
    background-color: var(--main-color);
    position: relative;
}
.inner-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon-and-search > div {
    display: inline-block;
    color: var(--primary-color);
    vertical-align: middle;
}
.menu-icon-and-search .menu-icon {
    cursor: pointer;
}
.menu-icon-and-search .day {
    margin-left: 15px;
}
.search-and-options .dots,
.search-and-options .search label {
    color: var(--primary-color);
    cursor: pointer;
}
.search-and-options > div {
    display: inline-block;
    vertical-align: middle;
}
.search-and-options .dots {
    margin-left: 15px;
}
.search-and-options .search-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 1px 6px #00000033;
    transform: scale(0);
    transition: all.3s;
}
.search-and-options .search-box.active{
    transform: scale(1);
}
.search-and-options .search-box .back-btn {
    content: "\f060";
    display: inline-block;
    font-family: "FontAwesome";
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
}
.search-and-options .search-box input {
    border: 0;
    outline: none;
    padding: 0 15px;
    height: 100%;
    flex-grow: 1;
}
/* ---- End: Header ------ */

/* ---- Start: Sidebar ---- */
/* width */
.sidebar::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
}
.sidebar {
    z-index: 101;
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow: auto;
    transition: all .3s;
    transform: translateX(-100%);
}
.sidebar.active {
    transform: translateX(0);
}
.inner-sidebar {
    width: 100%l;
}
.inner-sidebar > .head .profie-pic {
    height: 50px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: coral;
    margin-right: 15px;
}
.inner-sidebar > .head .profie-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.inner-sidebar > .head a {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    padding: 30px 20px;
    background-color: var(--main-color);
}
.inner-sidebar > .head a .mail-and-task span {
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    word-break: break-all;
}
.inner-sidebar > .head a .mail-and-task span:not(:last-child) {
    margin-bottom: 5px;
}
.page-list li .page-link {
    position: relative;
    display: block;
    padding: 10px 10px 10px 54px;
    font-size: 16px;
    color: var(--text-color);
}
.page-list li .page-link > span {
    display: inline-block;
}
.page-list li .page-link > .icon {
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.page-list li .page-link > .text {
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.page-list:not(:last-child) {
    margin-bottom: 20px;
}
/* ---- End: Sidebar ---- */

/* --- Start: Accordian --- */
.accordian-item .accordian-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    line-height: 1;
    transition: all .3s;
}
.accordian-item .accordian-toggle:hover {
    background: #f8f8f7;
}
.accordian-item .accordian-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    padding-right: 38px;
}
.accordian-item .accordian-title::before {
    /* content: '\f107'; */
    /* font-family: 'FontAwesome'; */
    font-family: "Material Icons";
    content: "expand_more";
    /* -webkit-font-feature-settings: 'liga'; */
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.accordian-item .accordian-title .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.accordian-item .accordian-title .icon {
    margin-right: 10px;
    /* position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%); */
}
.accordian-item .accordian-toggle .add-project button {
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
}
.accordian-content ul li .content-page-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 60px;
    font-size: 13px;
    color: var(--text-color);
    font-weight: 300;
}
.accordian-content ul li .content-page-link .icon {
    font-size: 16px;
    margin-right: 15px;
}
.accordian-content ul li .content-page-link .name {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 20px;
}
.accordian-content ul li .content-page-link .name .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* --- End: Accordian --- */


/* ------ Start : Add Project Popup ------ */
.add-project-popup .popup-head{
    background: var(--main-color);
    color: var(--primary-color);
}
.inner-add-project-popup{
}
.add-project-popup .inner-popup-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.add-project-popup .inner-popup-head .left{
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 30px;
}
.add-project-popup .inner-popup-head .left .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-project-popup .inner-popup-head .back-btn{
    margin-right: 10px;
    cursor: pointer;
}
.add-project-popup .inner-popup-head .send-btn{
    cursor: pointer;
}
.add-project-popup .inner-popup-head input{display: none;}

/* .inner-about-project input:not([type='submit']){display: none;} */
.inner-about-project{padding: 50px 0;}
.inner-about-project .name-field .input-here{
    position: relative;
}
.inner-about-project .name-field input{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    border: 2px solid var(--text-color);
    outline: none;
    color: var(--text-color);
    /* border: 2px solid var(--main-color); */
}
.inner-about-project .name-field input:focus{
    border: 2px solid var(--main-color);
}
.inner-about-project .name-field input:focus+.label{
    color: var(--main-color);
}
.inner-about-project .name-field .label{
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    /* color: var(--main-color); */
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
    color: var(--text-color);
}
.inner-about-project .name-field .err-with-count{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: var(--main-color);
}
.inner-about-project .name-field .err-with-count>span{
    flex-grow: 1;
}
.inner-about-project .name-field .err-with-count>.count{
    text-align: right;
}
.inner-about-project .name-field .err-with-count>.err-text{display: none;}
.inner-about-project .color-field{
    margin-top: 20px;
}
.inner-about-project .color-field input{
    display: none;
}
.inner-about-project .color-field ul{
    list-style: none;
}
.color-field ul li{
    padding: 10px 0;
    cursor: pointer;
}
.color-field ul li .all-info{
    display: flex;
}
.color-field ul li .all-info input[type="checkbox"]:checked+.fav-label .check{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.color-field ul li .all-info input[type="checkbox"]:checked+.fav-label .check::before{
    display: block;
}
.color-field ul li .all-info .icon span{
    font-size: 25px;
    color: var(--text-color);
}
.color-field ul li .all-info .icon{
    margin-right: 15px;
    color: var(--text-color);
}
.color-field ul li .all-info  .info{
    color: var(--text-color);
}
.color-field ul li .all-info  .info .name{
    font-size: 1rem;
}
.color-field ul li .all-info  .info .value{
    font-size: 0.9rem;
    margin-top: 5px;
}
.color-field ul li .all-info .info .value span{
    height: 7px;   
    width: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.color-field ul li .all-info .fav-label{
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.color-field ul li .all-info .fav-label .info{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.color-field ul li .all-info .fav-label .info .check{
    height: 20px;
    width: 20px;
    border: 2px solid var(--text-color);
    position: relative;
    overflow: hidden;
}
.color-field ul li .all-info .fav-label .info .check::before{
    content: "done";
    display: none;
    font-family: "Material Icons";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 15px;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: #fff;
}
.view-list-field{margin-top: 10px;}
.view-list-field .title{
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 10px;
}
.view-list-field .radio-here{
    padding-left: 35px;
    display: flex;
}
.view-list-field .radio-here>div:not(:first-child){
    margin-left: 50px;
}
.view-list-field .radio-here label{
}
.view-list-field .radio-btn input{
    display: none;
}
.view-list-field .radio-btn label span{
    display: inline-block;
    vertical-align: middle;
}
.view-list-field .radio-btn label .bullet{
    height: 15px;
    width: 15px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}
.view-list-field .radio-btn label .bullet::before{
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
    background-color: var(--main-color);
    border-radius: 50%;
}
.view-list-field .radio-btn input[type="radio"]:checked+label .bullet::before{
    display: block;
}
.add-project-popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.add-project-popup.active{
    display: block;
}
.field-list ul{
    list-style-type: none;
}
.field-list ul li{
    cursor: pointer;
}
.color-list-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 94%;
    max-height: calc(100vh - 120px);
    overflow: auto;
    z-index: 101;
    display: none;
}
.color-list-popup.active{
    display: block;
}

.field-list{
    padding: 15px 0;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.field-list ul li>div{
    padding: 15px 20px;
}
.field-list ul li>span{
    display: inline-block;
    vertical-align: middle;
}
.field-list .title{
    text-align: center;
    padding: 0 15px 20px;
    font-size: 1rem;
}
.field-list ul li .color{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}
.field-list ul li .color-name{
    font-size: 1rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.field-list ul li ul li{
    padding-left: 30px;
}
.field-list ul li ul{
    /* margin-top: 15px; */
}
.field-list ul li ul li:last-child{
    /* padding-bottom: 0; */
}
.parent-project-popup ul li{
    border-top: 1px solid rgb(37 37 37 / 13%);
}
.parent-project-popup{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    z-index: 101;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(100%);
    transition: all .3s;
}
.parent-project-popup.active{
    transform: translateY(0);
}
/* ------ End : Add Project Popup ------ */
